img {
    width: 100%;
    height: auto;
}

.photos {
    width: 800px;
    height: 570px;
    margin: 0 auto;
    padding: 0;
}

.photos li {
   
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}